hr {
    border: none;
    height: 2px;
    background-color: #2f3e46;
}

body {
    background-color: #cad2c5;
    font-family: 'Courier New', Courier, monospace;
    color: #2f3e46;
}

#home {
    text-align: center;
    text-decoration: none;
    color: #2f3e46;
}

/* make the navigation to the center of the website */
/* header .navigation {
    /* display: flex;
    justify-content: center; */
    /* float: right;
    gap: 50px; */
    overflow: hidden;

/* remove the hypertext on the navigation */
/* header a{
    float: right;
    text-decoration: none;
    color: #2f3e46;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
} */

.navigation {
    overflow: hidden;
}

.navigation a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #2f3e46;
}

.navigation a.nav{
    float: right;
}

/* header p{
    text-align: center;
    font-size: 30px;
} */





h2 {
    text-decoration: underline;
    text-decoration-color: #2f3e46;
}

/* change the color of the phone number */
#phone {
    color: #2f3e46;
}

/* change the color of the email */
#email {
    color: #2f3e46;
}

.contactList {
    list-style: none;
}
